


@media screen and (max-width:420px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing:border-box;
    }

    #lezioni .row, #why .row  {
        background-color: #F2F2CD;
    }

    /* lezioni */

    #lezioni .row>.left, #lezioni .row>.right {
        width: 100%;
    }

}